@model List<HospitalManagementSystem.Models.AppointmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section class="book">
    <table class="table text-size">
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Schedule
                </th>
                <th>
                    Department
                </th>
                <th>
                    UserName
                </th>
                <th>
                    Doctor
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Schedule)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoctorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition)
                    </td>
                    <td>
                        <a class= "btn btn-primary btn-lg p-3 mt-0" href = "/Appointment/AssignAppointment?did=@item.DepartmentId&aid=@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

