@using Microsoft.AspNetCore.Identity
@model ApplicationUser

@{
    ViewData["Title"] = "Index";
    int appointmentLength = ViewBag.AppointmentLength;

}
<section class="text-size" style="background-color: #eee;">
    <div class="container py-5 mt-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">

                    <div class="card-body text-center mt-auto">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.FullName</h5>
                        <p class="text-muted mb-1">Admin</p>
                        <p class="text-muted mb-4">@Model.UserName</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4 mt-9">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.FullName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">UserName</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Kathmandu, Nepal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4 text-size">Admin Dashboard</p>
</div>
<div class="row text-size">
    <div class="col-lg-6 mb-4 mt-5">
        <div class="card bg-danger text-white shadow">
            <div class="card-body">
                <a class="text-light text-decoration-none" href="/Appointment/Index">View Appointments(@appointmentLength)</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4 mt-5 text-size">
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                <a class="text-light text-decoration-none" href="/Account/AssignDepartment">Assign Doctor to Department</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4 mt-5 text-size">
        <div class="card bg-info text-white shadow">
            <div class="card-body">
                <a class="text-light text-decoration-none" href="/Account/AssignRole">Assign Role </a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4 mt-5">
        <div class="card bg-warning text-white shadow text-size">
            <div class="card-body">
                <a class="text-light text-decoration-none" href="/Department/Create">Add Department</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4 mt-5">
        <div class="card bg-warning text-white shadow text-size">
            <div class="card-body">
                <a class="text-light text-decoration-none" href="/Bill/Create">Create Bill</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4 mt-5">
        <div class="card bg-info text-white shadow">
            <div class="card-body">
                <a class="text-light text-decoration-none" href="/Bill/BillDetails">Update Bill</a>
            </div>
        </div>
    </div>
</div>
