
@{
    ViewData["Title"] = "PatientProfile";
    List<AppointmentModel> appointments = ViewBag.Appointment;
    int billCount = ViewBag.BillCount;
}

<h1>PatientProfile</h1>
<section class="text-size" style="background-color: #eee;">
  <div class="container py-5 mt-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">           
          <div class="card-body text-center">           
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">@Model.FullName</h5>
            <p class="text-muted mb-1">Patient</p>
            <p class="text-muted mb-4">@Model.UserName</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.FullName</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">UserName</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.UserName</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">@Model.PhoneNumber</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Kathmandu, Nepal</p>
              </div>
              <div class="card bg-danger text-white shadow mt-3">
                    <div class="card-body">
                        <a class="text-light text-decoration-none" href = "/Appointment/Create">Book Appointments</a>
                    </div>
               </div>
               <div class="card bg-danger text-white shadow mt-3">
                    <div class="card-body">
                        <a class="text-light text-decoration-none" href = "/Bill/BillUsers">Bill(@billCount)</a>
                    </div>
               </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</section>
<h2>Your Appointment Details</h2>
<table class = "table text-size"">
         <thead>
             <tr>
                 <th>Id</th>
                 <th>Description</th>
                 <th>Schedule</th>
                 <th>Status</th>
             </tr>
         </thead>
         <tbody>
        @foreach(var items in appointments)
        {
             <tr>
                <td>@items.Id</td>
                <td>@items.Description</td>
                <td>@items.Schedule</td>
                <td>@items.Condition</td>
            </tr>
        }
    </tbody>
</table> 
